doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/posts") Deleted posts
    | <br>
    a(href="/threads") Deleted threads
    | <br>
    a(href="/list") List
    | <br>

    block content
